@font-face {
  font-family: minecraftnew;
  /* (html2 image needs abs paths so we cheat with /tmp/) */
  /* i didnt want to .format another file lol */
  src: url("/tmp/minecraft.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: minecraftb;
  src: url("/tmp/minecraft_bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: minecrafti;
  src: url("/tmp/minecraft_italic.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: minecraftbi;
  src: url("/tmp/minecraft_bolditalic.otf");
  font-weight: bold;
  font-style: italic;
}

strong,
b {
  font-family: minecraftb;
}

em,
i {
  font-family: minecrafti;
}

strong em,
strong i,
b em,
b i {
  font-family: minecraftbi;
}

body {
  margin: 0;
  padding: 0;
  font-family: minecraftnew;
  color: #7c7c7b;
  /* TODO change this out for some random minecraft screenshot? probably
  look more normal with like basic sky background, cause tablist is at top */
  background-image: url("https://static.wikia.nocookie.net/minecraft_gamepedia/images/c/c1/Dirt_background_JE2.png/revision/latest?cb=20210507124914");
  background-repeat: repeat;
}

#wrapper {
  /* TODO make height, width dynamic for when it reaches max players? */
  width: 502px;
  height: 502px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.player {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player * {
  background-color: rgba(255, 255, 255, 0.1);
}

.player img {
  width: 17px;
  padding: 1px;
  padding-right: 5px;
}
